EXECUTION_MODE=demo_send
BYBIT_DEMO=false
BYBIT_TESTNET=false
BYBIT_CATEGORY=linear
BYBIT_POSITION_IDX=0
SYMBOL_MAP_JSON={"LINKUSDT":"LINKUSDT"}
ADAPTER_JOURNAL_PATH=/tmp/bybit_adapter_link_v0.json
BYBIT_TPSL_MODE_ON_ENTRY=Full
BYBIT_TRIGGER_BY=LastPrice
DEFAULT_ORDER_QTY=122
EXEC_QTY_MAP_JSON={"LINKUSDT":"122"}
DEFAULT_LEVERAGE=50
EXEC_LEVERAGE_MAP_JSON={"LINKUSDT":"50"}
BYBIT_API_KEY=PUT_YOUR_LIVE_KEY_HERE
BYBIT_API_SECRET=PUT_YOUR_LIVE_SECRET_HERE
